<h1>Documentaryfilm#index</h1>
<p>Find me in app/views/documentaryfilm/index.html.erb</p>

<%= form_with model: @documentaryfilm, method: :post do |form| %>
<div class="col-4">
<div>
<%= form.label :name, "Enter Documentary film name", class: "form-label"
%>
<%= form.text_field :name, class: "form-control" %>
</div>
<div>
<%= form.label :synopsis, "Enter Documentary film synopsis", class:
"form-label" %>
<%= form.text_field :lastname, class: "form-control" %>
</div>
<div>
<%= form.label :director, "Enter documentary film director", class:
"form-label" %>
<%= form.text_field :specialty, class: "form-control" %>
</div>
<div>
<%= form.submit "Submit", class: "btn btn-primary" %>
</div>
</div>
<% end %>

